* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #12121200;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.savedPresets {
  position: relative;
  background-color: #505050;
  padding: 10px;
  border-radius: 8px;
  width: 510px;
  height: 400px;
}

.container {
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  width: 550px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

h1, h2 {
  text-align: center;
}

.overall-controls {
  text-align: center;
  margin-bottom: 20px;
}

.vehicle-preview {
  position: relative;
  width: 300px;
  height: 150px;
  background-color: #1a1a1a;
  margin: 20px auto;
  border-radius: 10px;
}

.overhead-image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.neon-bar {
  position: absolute;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.neon-bar.left {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
}

.neon-bar.right {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
}

.neon-bar.back {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 140px;
}

.neon-bar.front {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 140px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.control {
  display: flex;
  align-items: center;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 42px;
  top: 11px;
  position: relative;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}

.control input[type="checkbox"] {
  margin-left: 5px;
}

.tabs {
  text-align: center;
  margin-bottom: 20px;
}

.tab-btn {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 5 5px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.123);
}

.tab-btn.active {
  background-color: #005bab;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.preset-btn {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 20 5px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.123);
}

.preset-btn:disabled {
  background-color: #888; 
  color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.preset-btn:active {
  background-color: #048aff; 
}

.headlight-bar {
  position: absolute;
  width: 10px; 
  height: 25px;
  background-color: white;
  border-radius: 5px;
}


.left-headlight {
  top: 20px; 
  left: 280px; 
}

.right-headlight {
  top: 105px; 
  left: 280px; 
}

.savedPresets {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.savedPresets::-webkit-scrollbar {
  width: 8px;
}

.savedPresets::-webkit-scrollbar-track {
  background: #3a3a3a;
  border-radius: 10px;
}

.savedPresets::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
  border: 2px solid #3a3a3a; 
}

.savedPresets::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#presetInput {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#savePresetButton {
  width: 25%;
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#savePresetButton:hover {
  background-color: #45a049;
}

.preset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.preset-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3a3a;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.preset-name {
  flex-grow: 1;
  margin-right: 20px;
}

.apply-btn, .delete-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.apply-btn:hover {
  background-color: #45a049;
}

.delete-btn:hover {
  background-color: #e53935;
}

